<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
<title>Contribute</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css"
     href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"
/>


<link rel="stylesheet" type="text/css"
    href="/static/css/busy.css"
/>

<!-- jquery from a content distribution network; probably cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Ideally the rest of our javascript dependencies would be
     bundled and minified with 'browserify', but I've found that
     it difficult to handle browserify dependencies for class
     projects.  So, we'll pick up moment and a date range picker
     from CDNs instead.
-->

<!-- <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script> -->

</head>

<body>
<div class="container">

<h2>Contribute to Group Free Times</h2>

<h4>Current Date &amp; Time range</h4>
  <input type="text" name="daterange" size="12" style="width: 12em" value="{{session.daterange}}" readonly>
  <br>
  <input type="time" name="daily_begin_time" value="{{session.daily_begin_time}}" readonly>
  to
  <input type="time" name="daily_end_time" value="{{session.daily_end_time}}" readonly>
  <br>
  <br>

<form action='/choose' method="post">
    <button type=submit name='contribute_calendar_button'>Contribute Calendar</button>
</form>

<h5>Free Times</h5>
{% if g.free_times is defined  %}
  <div class="row">
  {% for event in g.free_times %}
    <div class="col-md-8">
      {{event.dateTime_start | fmtdate}}, {{event.dateTime_start | fmttime}} - {{event.dateTime_end | fmttime}} 
        </div>
       {% if loop.index is divisibleby 3 %}
        </div> <div class="row"><br>
       {% endif %}
  {% endfor %}
  </div>
{% endif %}  
<br>

</div>  <!-- container (for bootstrap) -->
</body> 
</html>