<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
<title>Free Times</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"/>

<link rel="stylesheet" type="text/css" href="/static/css/busy.css"/>

<!-- jquery from a content distribution network; probably cached -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

</head>

<body>
<div class="container">

<h1 id="title"></h1>
<!-- <script>
    document.write('<a href="' + document.referrer + '">Go Back to Busy Times Selector</a>'); 
    //keeps the information on the screen as it was before they left it
</script>
<br> -->

{% if session.contributing == true %}
  <h4>Choose Meeting Time and Length</h4>
  <select id="dateTime_start">
  <option value="">Select Beginning of Meeting</option>
  </select>
  for 
  <select id="length"></select>
  <script>
    document.getElementById("title").innerHTML = "Group Free Times";
    $(document).ready(function(){
        $('#dateTime_start').change(function(e){
            var value = $('#dateTime_start').val().split(" ");
            start = moment(value[0]);
            end = moment(value[1]);
            var difference = end.diff(start, "minutes");
            var length_dropdown = document.getElementById("length");
            length_dropdown.innerHTML = '';
            
            for (var i = 15; i <= difference; i+=15){
                var option = document.createElement("option");
                option.text = i + " minutes";
                length_dropdown.add(option);
            }
            if (i % 15 != 0){
                var option = document.createElement("option");
                option.text = difference + " minutes";
                length_dropdown.add(option);
            }  
        });
    });
  </script> 
  <br>
  Group members that have contributed their calendar(s): {{ g.emails }}
  <br>
  <p id="final_meeting_time"></p>
  <p id="email_p"></p>

  <button onclick="dumpPullDowns()">Finalize Meeting Time</button>
  <script >
  function dumpPullDowns() {
    var dateTime_start = moment($('#dateTime_start').val().split(" ")[0]);
    var final_time_txt = dateTime_start.format("ddd MM/DD/YYYY") + " starting at " + dateTime_start.format("hh:mma") + " for " + $('#length').val();
    document.getElementById("final_meeting_time").innerHTML = "Finalized Meeting Time: " + final_time_txt;
    document.getElementById("email_p").innerHTML = "Please email the time and date to everyone who has contributed.";
  }
  </script>

{% else %}
  <script>
    document.getElementById("title").innerHTML = "Free Times";
    document.write('<a href="' + window.location.host + "{{ g.partialLinkback }}" + '"target="_blank">Contribute Linkback</a>');
  </script>
  Please click and follow the link or right click and copy link address to send to group members.
  <br> 
  Or 
  <br>
  <a href="mailto:?Subject=Meeting%20Time%3F&body={{ g.message |url_escapify }}%20{{ g.partialLinkback|url_escapify }}" target="_top">Send Mail with contribute link instead</a>
{% endif %}
<br>
<br>

{% if g.free_times is defined  %}
  <div class="row">
  {% for event in g.free_times %}
    <script> 
      var dateTime_dropdown = document.getElementById("dateTime_start");
      var option = document.createElement("option");
      option.value = "{{event.dateTime_start}} {{event.dateTime_end}}";
      option.text = "{{event.dateTime_start | fmtdate}}, {{event.dateTime_start | fmttime}}";
      dateTime_dropdown.add(option);
    </script>   
    <div class="col-md-8">
      {{event.dateTime_start | fmtdate}}, {{event.dateTime_start | fmttime}} - {{event.dateTime_end | fmttime}} 
          </div>
         {% if loop.index is divisibleby 3 %}
          </div> <div class="row"><br>
         {% endif %}
  {% endfor %}
  </div>
{% endif %}  
<br>

</div>  <!-- container (for bootstrap) -->
</body> 
</html>
