<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
<title>Appointments</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css"
     href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"
/>


<link rel="stylesheet" type="text/css"
    href="/static/css/busy.css"
/>

<!-- jquery from a content distribution network; probably cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Ideally the rest of our javascript dependencies would be
     bundled and minified with 'browserify', but I've found that
     it difficult to handle browserify dependencies for class
     projects.  So, we'll pick up moment and a date range picker
     from CDNs instead.
-->

<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />


</head>

<body>
<div class="container">

<h1>Busy times</h1>

<h2>Date range</h2>
  <form action="/setrange" method="post" id='setrange'>
  <input type="text" name="daterange" id="daterange" size="12" style="width: 12em"
    {% if session.daterange is defined %}
         value="{{session.daterange}}"
    {% endif %}
     class="pull-down"
     style="background: #fff; cursor: pointer; padding: 5px 10px;
     border: 1px solid #ccc; width: 12em" >
  <script type="text/javascript">
  $(function() {
  $('input[name="daterange"]').daterangepicker(
    {    ranges: {
           'Today': [moment(), moment()],
           'Tomorrow':[moment().add(1, 'days'),
                       moment().add(1, 'days')], 
           'This week':[moment(), moment().endOf('week')],
           'Next week':[moment().add(7, 'days').startOf('week'),
                        moment().add(7, 'days').endOf('week')],
           'This month':[moment(), moment().endOf('month')],
           'Within two weeks':[moment(),moment().add(15, 'days')]
        }}
       );
    });
  </script>
  <br>
  <br>

  <h4>Time range</h4>
  <input type="time" name="daily_begin_time" id="daily_begin_time"  
  {% if session.daily_begin_time is defined %}
    value="{{session.daily_begin_time}}"
  {% endif %}
  >
  to
  <input type="time" name="daily_end_time" id="daily_end_time"   
  {% if session.daily_end_time is defined %}
    value="{{session.daily_end_time}}"
  {% endif %}>
  <br>
  <input type="submit" value="Choose" id='choose'>
</form>

{% if session.contributing == true %}
  <script>
    $('#setrange :input').attr('readonly','readonly');
    $('input[type="submit"]').prop('disabled', true);
  </script>
{% endif %}



    <!--
    Show the calendar list (if we have it).  This will need to be turned into
    a form from which calendars can be picked. Up to three entries are
    shown in each row (but the order is across then down; I would
    prefer down then across). 
    -->
{% if g.calendars is defined  %}
  <form action='/choose_calendars' method="post">
  <div class="row">
  {% for cal in g.calendars if cal.selected %}
    <div class="col-md-4">
	   <input type="checkbox" value="{{ cal.id }}" name='to_read'> {{ cal.summary }}
          </div>
         {% if loop.index is divisibleby 3 %}
          </div> <div class="row">
         {% endif %}
  {% endfor %}
    </div>
    <input type=submit value="Use selected calendars">
  </form>
{% endif %}
  
{% if g.events is defined  %}
  <form action='/get_free_times' method="post">
    <button type=submit name='get_free_times_button' value="{{ g.events }}"> Get Free Times </button>
  </form>
  <br>
<form action='/ignore_unimportant_events' method="post">
  <div class="row">
  {% for event in g.events %}
    <div class="col-md-6">
    <input type="checkbox" value="{{ event.event_id }}" name='events_to_ignore'> 
      {{event.dateTime_start | fmtdate}}, {{event.dateTime_start | fmttime}} - {{event.dateTime_end | fmttime}} {{ event.summary }}
          </div>
         {% if loop.index is divisibleby 2 %}
          </div> <div class="row"><br>
         {% endif %}
  {% endfor %}
  </div>
  <input type=submit value="Ignore Selected Events">
</form>
{% endif %}  
<br>

</div>  <!-- container (for bootstrap) -->
</body> 
</html>
